.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/
.eggs/
*.egg-info
.pytest_cache
data/
Prediction_Batch_files/
Prediction_Output_File/
Prediction_Raw_Files_Validated/
Prediction_Raw_Data_Validation/
Training_Batch_Files/
Training_Raw_data_validation/
Training_Raw_files_validated/
TrainingArchiveBadData/
PredictionArchivedBadData/
*.sqlite3
*.db
venv/
.